* {
    margin: 0;
    padding: 0;
}
.MJXc-TeX-main-R {
    font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw, Yas !important;
}

.MJXc-space2 {
    margin-left: .1em !important;
}

.MJXc-space3 {
    margin-left: .12em !important;
}
@media print {
    @page {
        margin: 0;
        size: 210mm 297mm;
    }
}

@media screen {
    #pages {
        height: 600px;
        overflow: scroll;
    }
    .page {
        margin: .25cm 0;
    }
    .page:first-child {
        margin: 0;
    }
}

body {
    background: gray;
    direction: rtl;
    line-height: 2;
    font-family: Yas, Arial;
    width: 210mm;
    margin: 0 auto;
    font-size: 12pt;
}

.page {
    height: 297mm;
    background: white;
    padding: 7mm 7mm 6mm;
    box-sizing: border-box;
    /*			border: solid 2mm;*/
    break-after: page;
}

.tmp-page {
    padding: 7mm 7mm 6mm;
    box-sizing: border-box;
}


.question-group {
    position: relative;
    border: solid 1pt black;
    /*			padding: 6pt 2pt;*/
    text-align: justify;
    border-bottom: none;
    display: flex;
}

.question-group:last-child {
    border-bottom: solid 1pt black;
}

.question-group .number,
.question-group .point {
    /*			position: absolute;*/
    /*			top: -6pt;*/
    padding: 0 1pt;
    /*			background: white;*/
    /*			border: solid black .5pt;*/
    text-align: center;
    line-height: 1;
    font-family: Yas;
}

.question-group .number {
    width: 3%;
}

.question-group .point {
    width: 4%
}

.question-group .question {
    border-right: solid 1pt black;
    border-left: solid 1pt black;
    width: 93%;
    padding: 1pt 2pt;
}

.answer{
    color: var(--answer-color);
    visibility: hidden;
}

[showanswer] .answer, [showanswer="true"] .answer {
    visibility: visible;
}

.dot {
    font-size: 50%;
}

.blank {
    display: inline-block;
    position: relative;
    color: var(--answer-color);
    visibility: hidden;
}
[showanswer] .blank, [showanswer="true"] .blank {
    visibility: visible;
}

.blankcirc, .blankrec{
    display: inline-block;
    width: 1.3em;
    height: 0;
    padding: .65em 0;
    border: solid 1px;
    text-align: center;
    position: relative;
    top: 1em;
}
.blankcirc > span:first-child, .blankrec > span:first-child{
    position: relative;
    top: -1em;
}
.blankcirc {
    border-radius: 50%;
}


.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.clear {
    clear: both;
}

:root {
    --answer-color: blue;
}

.parts {
    --cols: 1;
}

.truefalse,
.filling {
    --cols: 2;
}

.choices {
    --cols: 4;
}

.parts .part,
.truefalse .prop,
.filling .fillin,
.choices .choice {
    display: inline-block;
    margin-left: 2pt;
    width: calc(100% / var(--cols) - 2pt);
    float: right;
}

.rtl .part,
.rtl .prop,
.rtl .fillin,
.rtl .choice {
    float: right;
    margin-right: unset;
    margin-left: 2pt;
}

.ltr .part,
.ltr .prop,
.ltr .fillin,
.ltr .choice {
    float: left;
    margin-left: unset;
    margin-right: 2pt;
}

.part > p, .prop > .checkbox + span > p, .choice > .checkbox + span > p{
    display: inline;
}

.numbering {
    display: inline-block;
    width: 1.2em;
    text-align: left;
    margin-left: 1pt;
}

.rtl .numbering {
    text-align: left;
    margin-right: unset;
    margin-left: 1pt;
}

.ltr .numbering {
    text-align: right;
    margin-left: unset;
    margin-right: 1pt;
}

.prop .checkbox,
.choice .checkbox {
    width: 1.6em;
    margin-left: 1pt;
    display: inline-block;
    position: relative;
    top: .3em;
}

.checkbox svg .tick, .checkbox svg .cross{
    visibility: hidden;
}
 .tick {
    display: inline-block;
    width: 1.2em;
    position: relative;
    top: .15em;
 }
 .cross {
    display: inline-block;
    width: 1.2em;
    position: relative;
    top: .4em;
    margin-right: -0.5em;
 }
.hfill, .rtl .hfill{
    float: left;
    direction: ltr;
}
.ltr .hfill {
    float: right;
    direction: rtl;
}

/* [showanswer] .checkbox path, [showanswer="true"] .checkbox path {
    visibility: visible;
} */

[showanswer] .true .checkbox .tick, [showanswer="true"] .true .checkbox .tick {
    visibility: visible;
}

[showanswer] .prop.false .checkbox .cross, [showanswer="true"] .prop.false .checkbox .cross {
    visibility: visible;
}

.shfarasat {
    line-height: 2;
    background: white;
    font-weight: bold;
    margin-bottom: 3pt;
}

.shfarasat>div>div {
    width: 33.333333%;
    float: right;
}

.shfarasat>div {
    overflow: hidden;
    width: 100%;
    padding: 2pt;
    border: solid 1pt black;
    box-sizing: border-box;
}

.shfarasat .center {
    text-align: center;
    font-size: small;
    line-height: 1.8;
}

.shfarasat .center img {
    width: 1.8cm;
}

.shfarasat .shadow-box {
    border: solid 1pt black;
    border-radius: 3pt;
    box-shadow: 2pt 2pt gray;
    margin-bottom: 5pt;
}

.shfarasat .shadow-box:last-child {
    margin-bottom: 0pt;
}

.shfarasat .date {
    display: flex;
}

.shfarasat .date-a {
    border: none;
    text-align: left;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.shfarasat .date-q {
    flex: 0 0 25%;
}